[user]
	name = Roberto Nogueira
	email = enogrob@gmail.com
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "status"]
	added = green
	changed = red bold
	untracked = yellow
[color "branch"]
	remote = yellow
[merge]
	tool = kdiff3
[core]
	editor = \"C:/Program Files/Notepad++/notepad++.exe\" -multiInst -nosession -notabbar -nosession -noPlugin
[diff]
	tool = examdiff
	guitool = examdiff
[difftool "examdiff"]
	cmd = examdiff \"$(cygpath -wla $LOCAL)\" \"$(cygpath -wla $REMOTE)\" /nh
[difftool]
	prompt = false
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
